body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.myDiv {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
}

#titleJquery {
    margin-top: 100px;
}

.hide {
    display: none;
}
