body {
    font-family: "Courier New", Courier, monospace;
}

h1 {
    color: red;
}

p {
    background-color: aqua;
    padding: 50px;
}

div {
    background-image: url("../img/cat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 500px;
    border: 5px solid black;
}

h3 {
    color: white;
    text-align: end;
    padding-top: 180px;
    padding-right: 50px;
}
