#tarjeta {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}

.activo {
    background-color: green;
    color: white;
}

.inactivo {
    background-color: gray;
    color: black;
}
