<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if mensaje %}
        {{mensaje}}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Nombre Usuario</label>
        <input type="text" name="username" id="">

        <label for="">Contraseña</label>
        <input type="text" name="password" id="">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>