.hide {
    display: none;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}

.violeta {
    color: violet;
}

.verde {
    color: green;
}

ul {
    list-style: none;
}

#carouselContainer {
    height: 500px;
}

#listaContainer {
    height: 150px;
}
