body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
}

/* Ejemplos con clases */
.main-img {
    width: 100%;
}

.info-iguana {
    display: flex;
    padding: 4rem 10%;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.texto-info-iguana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img-info-iguana {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img-info-iguana img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

/* Ejemplos con IDs */
#caracteristicas-iguana {
    text-align: center;
    padding: 30px 250px;
    background-color: rgb(53, 47, 40);
}

#caracteristicas-iguana ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#caracteristicas-iguana h2 {
    font-size: xx-large;
    margin-bottom: 80px;
}

#caracteristicas-iguana i {
    transition: transform 0.2s ease-in-out;
    font-size: xx-large;
}

#caracteristicas-iguana i:hover {
    transform: scale(1.5);
    cursor: pointer;
}

#fotos-iguana {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 150px;
}

#fotos-iguana img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#fotos-iguana img:hover {
    transform: scale(1.05);
}

/* En etiqueta semántica */
footer {
    background-color: rgb(53, 47, 40);
    padding: 20px;
    text-align: center;
    font-size: larger;
}

footer a {
    color: white;
    text-decoration: none;
}
